@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: reg_poppins;
    src: url();
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(78, 78, 187);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

button{
    padding: 0 5px;
    background-color: white;
    border: 1px solid;
    box-shadow: 2px 2px;
}


button:hover{
    background-color: rgb(78, 78, 187);
    box-shadow: none;
    transition: 0.5s;
    
    
}

.container{
    max-width: 500px;
    /* min-width: 400px; */
    margin-top: 100px;
    padding: 0px 30px;
}
.head h1{
    text-align: center;
    font-family: poppins;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px black;
    
}

.dimensions form ul{
    display: flex;
    justify-content: space-around;
    border: 2px solid;
    padding: 10px 0;
    box-shadow: 5px 5px;
}

li{
    list-style: none;
}

.board input{
    width: 25px;
    border: 1px solid;
    background-color: rgb(78, 78, 187);
    
}

.board input:hover{
    width: 30px;
    height: 30px;
}
.item{
    width: 30px;
    height: 30px;
    border: 1px solid;
    text-align: center;
    
}
.matrix{
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: repeat(2, 30px);
    
    
}

.matrix div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    width: 170px;
    height: 170px;
    
}

.display{
    display:flex;
    justify-content: center;
    border: 2px solid;
    margin: 10px 0;
    padding: 10px 0;
    box-shadow: 5px 5px;
}

.sideOperation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.sideOperation button{
    width: 110px;
    margin-bottom: 4px;
}

.topInput::-webkit-outer-spin-button, .topInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.topInput{
    border: 1px solid black;
    padding-left: 5px;
    box-shadow: 3px 3px;
    transition: 1s;
}

.topInput:hover{
    box-shadow: none;
}



.footer{
    border: 2px solid;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px;
}

.footer button{
    margin: 0 5px;
}

#operation, #answer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}

.result{
    
    min-height: 300px;
    max-height: 700px;
    display: none;
    border: 2px solid;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 5px 5px;
}

.box{
    display: grid;
    grid-gap: 3px;
    padding: 10px;
    border: 1px solid;
    margin-right: 10px;
}

.sign{
    width: 30px;
    height: 30px;
    border: 1px solid;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;

}

#answer{
    display: flex;
    justify-content: center;
}


#resultButton, .cofactor{
    display: none;
}

.social{
    padding: 15px;
    width: 300px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    
}

ion-icon{
    color: black;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    transition: 500ms;
}

ion-icon:hover{
    color: blue;
}

@media screen and (max-width: 500px) {
 


}

