@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: reg_poppins;
    src: url();
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

button{
    padding: 0 5px;
}

.container{
    max-width: 500px;
    min-width: 400px;
    margin-top: 100px;
}
.head h1{
    font-family: poppins;
    
}

.dimensions form ul{
    display: flex;
    justify-content: space-around;
    border: 2px solid;
    padding: 10px 0;
}

li{
    list-style: none;
}

.board input{
    width: 25px;
}
.item{
    width: 30px;
    height: 30px;
    border: 1px solid;
    text-align: center;
}
.matrix{
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: repeat(2, 30px);
    
}

.matrix div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    width: 170px;
    height: 170px;
}

.display{
    display:flex;
    justify-content: center;
    border: 2px solid;
    margin: 10px 0;
    padding: 10px 0;
}

.sideOperation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.sideOperation button{
    width: 110px;
    margin-bottom: 4px;
}

.topInput::-webkit-outer-spin-button, .topInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}



.footer{
    border: 2px solid;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.footer button{
    margin: 0 5px;
}

#operation, #answer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}

.result{
    
    min-height: 300px;
    max-height: 700px;
    display: none;
    border: 2px solid;
    margin-top: 10px;
    padding: 20px;
}

.box{
    display: grid;
    grid-gap: 3px;
    padding: 10px;
    border: 1px solid;
    margin-right: 10px;
}

.sign{
    width: 30px;
    height: 30px;
    border: 1px solid;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;

}

#answer{
    display: flex;
    justify-content: center;
}


#resultButton, .cofactor{
    display: none;
}

.social{
    padding: 15px;
    width: 300px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    
}

ion-icon{
    color: black;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    transition: 500ms;
}

ion-icon:hover{
    color: blue;
}

@media screen and (max-width: 400px) {
    .container, #answer{
        padding: 0 25px;
    }

    .head h1{
        font-family: poppins;
        font-size: 25px;
    }
}

